body {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

main {
  width: 75%;
  box-shadow: var(--shadow_inside--);
  display: flex;
  flex-direction: column;
}

main header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  width: 100%;
  box-shadow: var(--shadow_outside--);
}

main header img {
  height: inherit;
  border-radius: inherit;
}

main header div {
  width: 100px;
  height: 100%;
  border-radius: 100px;
}

main main {
  height: 100%;
  width: 100%;
  box-shadow: var(--shadow_inside--);
  overflow-x: scroll;
}

main main div {
  margin: 5px 15px;
  width: max-content;
  height: max-content;
  padding: 20px;
  box-shadow: var(--shadow_inside--);
  border-radius: var(--radius--);
}

main main div span {
  background: transparent;
}

main main h1 {
  margin: auto 0;
  background: transparent;
  text-align: center;
}

.self {
  margin-left: auto;
  background: var(--shadow_outside--);
}

.sender {
  margin-right: auto;
}


main footer {
  height: 10%;
  width: 100%;
  border-radius: 10px 0 0 0;
  background: transparent
}

aside {
  position: relative;
  width: 25%;
  box-shadow: var(--shadow_outside--);
}

aside header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

aside header button {
  height: 100%;
}

aside header img {
  height: inherit;
}

aside main {
  width: 100%;
  height: 85%;
  box-shadow: var(--shadow_inside--);
  text-align: center;
}

aside main h1 {
  margin-top: 10px;
  background: transparent;
}

aside footer {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  border-radius: var(--radius--);
}

aside footer button {
  border-radius: var(--radius--);
  width: 100px;
  height: 100%;
  box-shadow: var(--shadow_outside--);
  cursor: pointer;
}

aside footer img {
  height: 100%;
}

/* message box */
.chats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px;
  width: 90%;
  height: 7%;
  box-shadow: var(--shadow_outside--);
  border-radius: var(--radius--);
}

.chats div:has(img) {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.chats div img {
  height: inherit;
}

/* for active chats */
.active,
.chats:hover {
  box-shadow: var(--shadow_inside--);
}

.active span,
.active div,
.chats div:hover,
.chats span:hover {
  background: transparent;
}

footer {
  display: flex;
  justify-content: center;
  box-shadow: var(--shadow_outside--);
}


footer img {
  height: 100%;
  border-radius: inherit;
}

footer input {
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow_outside--);
  font-size: large;
  padding-left: 15px;
  border-radius: inherit;
}

footer input:focus {
  outline: none;
  box-shadow: var(--shadow_inside--);
}

footer button {
  width: 10%;
}

.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}