img {
  box-sizing: border-box;
  padding: 5px;
  -webkit-user-drag: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

main {
  width: 75%;
  box-shadow: var(--shadow_inside--);
  display: flex;
  flex-direction: column;
}

main header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  width: 100%;
  box-shadow: var(--shadow_outside--);
}

main header button {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  cursor: pointer;
}

main header img {
  height: inherit;
  border-radius: inherit;
  cursor: pointer;
}

main header div {
  width: 100px;
  height: 100%;
  border-radius: 100px;
}

main main {
  height: 100%;
  width: 100%;
  box-shadow: var(--shadow_inside--);
  overflow-x: scroll;
}

main main div {
  margin: 5px 15px;
  width: max-content;
  height: max-content;
  padding: 20px;
  box-shadow: var(--shadow_inside--);
  border-radius: var(--radius--);
}

main main div span {
  background: transparent;
}

main main h1 {
  margin: auto 0;
  background: transparent;
  text-align: center;
}

.self {
  margin-left: auto;
  background: var(--shadow_outside--);
}

.sender {
  margin-right: auto;
}


main footer {
  height: 10%;
  width: 100%;
  border-radius: 10px 0 0 0;
  background: transparent
}

main footer img {
  cursor: pointer;
}

aside {
  position: relative;
  width: 25%;
  box-shadow: var(--shadow_outside--);
}

aside header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

aside header button {
  height: 100%;
  cursor: pointer;
}

aside header img {
  height: inherit;
}

aside main {
  width: 100%;
  height: 85%;
  box-shadow: var(--shadow_inside--);
  text-align: center;
}

aside main h1 {
  margin-top: 10px;
  background: transparent;
}

aside footer {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  border-radius: var(--radius--);
}

aside footer button {
  border-radius: var(--radius--);
  width: 100px;
  height: 100%;
  box-shadow: var(--shadow_outside--);
  cursor: pointer;
  font-size: large;
}

aside footer img {
  height: 100%;
  cursor: pointer;
}

/* message box */
.chats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px;
  width: 90%;
  height: 7%;
  box-shadow: var(--shadow_outside--);
  border-radius: var(--radius--);
  cursor: pointer;
}

.chats div:has(img) {
  width: 50px;
  height: 100%;
  border-radius: 100px;
  background: transparent;
}

.chats div img {
  height: inherit;
  background: transparent;
}

.chats div {
  background: transparent;
}

.chats span {
  background: transparent;
}

/* for active chats */
.active,
.chats:hover {
  box-shadow: var(--shadow_inside--);
}

.active span,
.active div,
.chats div:hover,
.chats span:hover {
  background: transparent;
}

footer {
  display: flex;
  justify-content: center;
  box-shadow: var(--shadow_outside--);
}


footer img {
  height: 100%;
  border-radius: inherit;
}

footer input {
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow_outside--);
  font-size: large;
  padding-left: 15px;
  border-radius: inherit;
}

footer input:focus {
  outline: none;
  box-shadow: var(--shadow_inside--);
}

footer button {
  width: 10%;
}

.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}


.find_pop {
  width: 30vw;
  height: max-content;
  font-size: large;
}


.find_pop main {
  height: max-content;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
}

.find_pop main div img {
  width: inherit;
  height: inherit;
}


.find_pop input {
  border-radius: var(--radius--);
  font-size: large;
  width: 20vw;
  height: 7vh;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: var(--shadow_inside--);
}

.info_pop {
  width: 60vw;
  height: 70vh;
  border: none;
}

.info_pop div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: var(--radius--);
}

.info_pop main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
}

.info_pop main img {
  height: auto;
  width: inherit;
  max-width: 200px;
  background: transparent;
}


.info_pop aside {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow_inside--);
  padding: 10px;
  box-sizing: border-box;
  border-radius: var(--radius--);
}

.info_pop aside span {
  height: 10%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow_outside--);
  border-radius: var(--radius--);
  margin: 10px 5px;
  cursor: pointer;
}


.info_pop button {
  position: fixed;
  bottom: 10px;
  left: 10px;
}


.info_pop input {
  box-shadow: var(--shadow_inside--);
  border-radius: var(--radius--);
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}


.info_pop main div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.info_pop main div button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_pop main div img {
  max-width: inherit;
}


.time,
.lastMessageContent {
  color: rgb(160, 160, 160);
  font-size: x-small;
  padding: 5px;
  box-sizing: border-box;
}

.lastMessageContent {
  color: rgb(130, 130, 130);
  font-size: medium;
}