form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  height: max-content;
  padding: 30px 100px;
  border-radius: var(--radius--);
  box-shadow: var(--shadow_outside--);
  text-transform: capitalize;
  font-size: large;
}

input {
  border-radius: var(--radius--);
  /* i want a exact math */
  max-width: 350px;
  min-width: 200px;
  max-height: 70px;
  min-height: 50px;
  box-shadow: var(--shadow_inside--);
  margin-bottom: 20px;
  font-size: medium;
  padding: 0 15px;
  letter-spacing: 0.3px;
}

input:hover {
  box-shadow: var(--shadow_outside--);
}

input:focus {
  box-shadow: var(--shadow_outside--);
  outline: none;
}

input[type="button"] {
  margin: 5px;
  text-transform: capitalize;
  box-shadow: var(--shadow_outside--);
  cursor: pointer;
}

input[type="button"]:hover {
  box-shadow: var(--shadow_inside--);
}

label {
  max-width: 350px;
  min-width: 200px;
  margin-left: 20px;
  z-index: 2;
  background: transparent;
}

legend {
  font-size: xx-large;
  letter-spacing: 2px;
  border-radius: var(--radius--);
  padding: 10px;
}

a {
  color: #007cf8;
  margin-top: 15px;
  font-size: medium;
  text-decoration: none;
  box-shadow: var(--shadow_outside--);
}

dialog {
  position: absolute;
  left: 50%;
  top: 0;
  translate: -50%;
  border-radius: 10px;
  border: 1px solid red;
  width: 100px;
  height: max-content;
  box-sizing: var(--shadow_outside--);
  padding: 20px;
  text-align: center;
  margin: 10px;
}

dialog button {
  border-radius: inherit;
  padding: 5px;
  width: 100px;
  margin-top: 25px;
  text-transform: capitalize;
  box-shadow: var(--shadow_outside--);
  cursor: pointer;
}

dialog button:hover {
  box-shadow: var(--shadow_inside--);
}